<div class="main">

		<div style="width: 100%; float: left;">
			<div style="float: left;"><img src="/images/border_left_up.png" /></div>
			<div style="float: right;"><img src="/images/border_right_up.png" /></div>
		</div>

		<div style="padding-left: 20px; padding-right: 20px; font-size: 18px;">
			{{ content }}
		</div>

		<div style="width: 100%; float: left;">
			<div style="float: left;"><img src="/images/border_left_down.png" /></div>
			<div style="float: right;"><img src="/images/border_right_down.png" /></div>
		</div>
		
</div>