<table width=100%>
<tr valign="top">
	<td align="center">
		
		<table width='750' border='0' cellpadding='0' cellspacing='0'>
			<tr>
				<td width='710' style='padding-left:40px;'>
					<img src='/images/info.png' valign='top' style='margin-right: 20px; float: left;' border='0'>
					<p style='padding: 0px; margin:0px' class='news_zag'>О проекте:</p>
					<a href='/about'>
						<p style='padding: 0px; margin:0px; font-color:#4b4b7f'>«Архимир» – это проект,  позволяющий качественно расширить возможности современных архитекторов и дизайнеров.</p>
					</a>
				</td>
			</tr>
		</table>
		
		<br>
		
		<table>
			<tr>
				<td>
					{{ scroll }}
				</td>
			</tr>
		</table>
		
		<br>
		
		{{ tags }}

	</td>
	<td width="1" bgcolor="#FF8C43">
		&nbsp;
	</td>
	<td width="250">
		<p class="news_zag">Новости:</p>
		{{ news }}
	</td>
</tr>
</table>