<link rel="stylesheet" href="/css/comments.css" type="text/css" media="screen">
<script>
	$(document).ready(function() {
		$(".new_comment").addClass("hidden");
	});
    function show_reply(t)
    {
    	if(!$(".new_comment").hasClass("hidden")) $(".new_comment").addClass("hidden");
    	$(".reply_form").each(function() {
    		if($(this).attr("id") != "comment_" + t) {
    			$(this).empty();
    		}
    	});
        if($("#comment_" + t).html() != "")
            $("#comment_" + t).empty();
        else
        {
        	var text = '<div class="reply_form"><div class="reply_info">Вы, {{ login }}, отвечаете:</div><form method="POST" action="/comments"><input type="hidden" name="entity" value="{{ entity }}" /><textarea name="content"></textarea><input type="submit" value="Ответить" /><input type="hidden" name="parent_comment" value="" /></form></div>';
            $("#comment_" + t).html(text);
            $("input[name=parent_comment]").attr("value", t);
    	}
    }
    function show_new_comment() {
    	if($(".new_comment").hasClass("hidden")) {
    		$(".new_comment").removeClass("hidden");
    	}
    	else {
    		$(".new_comment").addClass("hidden");
    	}
    }
</script>

<!-- Внешний блок комментариев -->
<div class="comments">

	{% for comment in comments %}

	<!-- Комментарий -->
	<div class="comment" style="margin-left: {% if comment.level %}{{ comment.level }}{% else %}0{% endif %};">

		<!-- Аватара -->
		<div class="avatar">
		
			<!-- Картинка с аватарой -->
			<img width="50" height="50" src="/show_avatara/{{ comment.userid }}?resize=50x50" alt="Аватара пользователя" />
			
			<!-- Закругленные углы -->
			<img class="avatar_foreground" width="50" height="50" src="/images/avatar_foreground.png" alt="Аватара пользователя" />
			
		</div>
		
		<!-- Содержимое комментария -->
		<div class="content">
			
			<!-- Информация о комментарии -->
			<ul class="info">
			
				<!-- Логин пользователя -->
				<li class="login">
					<a href="/users/{{ comment.login }}">{{ comment.login }}</a>
				</li>
				
				<!-- Дата и время комментария -->
				<li class="datetime">
					написал {{ comment.date|date:"d.m.Y" }} в {{ comment.date|date:"H:i:s" }}
				</li>
				
			</ul>
			
			<br style="clear: both;" />
			
			<!-- Текст комментария -->
			<div class="text">
			{{ comment.key }}
			{{ comment.content }}
			</div>
			
			{% if logged %}

			<!-- Быстрое управление комментарием -->
			<div class="fast_controls">
				<a onclick="show_reply('{{ comment.key }}'); return false;" href="">ответить</a>
			</div>
			
			{% endif %}
			
		</div>
		
		<!-- Поле для формы ответа на комментарий -->
		<div id="comment_{{ comment.key }}" class="reply_form">
	
		</div>

	</div>
	{% endfor %}

</div>



<!-- Добавление нового комментария -->
<div class="add_comment">
	
	{% if logged %}
	
	<a onclick="show_reply(0); show_new_comment(); return false;" href="">
		<img src="/images/balloon_message.png" alt="Добавление комментария" />
		Добавить комментарий
	</a>
	
	<form class="new_comment" method="post" action="/comments?entity={{ entity }}">
		
		<textarea name="content"></textarea>
		<input type="submit" value="Добавить" />
		
	</form>
	
	{% else %}
	
	<a href="/login/?return={{ url }}">
		<img style="margin-top: 0px;" src="/images/people.png" alt="Форма авторизации" />
		Авторизуйтесь, чтобы добавить комментарий
	</a>
	
	{% endif %}
	
</div>
