<div style="padding-left: 20px; padding-top: 8px; padding-right: 20px;">
<form method="post">
<table width=100% cellpadding="1" cellspacing="1">
	<tr>
		<td>Тема:</td>
	</tr>
	<tr>
		<td><hr></td>
	</tr>
	<tr>
	    <td><input type="text" name="caption" style="width: 100%" value="{{ theme }}"></td>
	</tr>
	<tr>
		<td>Текст сообщения:</td>
	</tr>
	<tr>
		<td><hr></td>
	</tr>
	<tr>
		<td>{{ editor }}</td>
	</tr>
	<tr>
		<td align="center"><input type="submit" style="padding: 10px;" value="Отправить"></td>
	</tr>
</table>
</form>
</div>