<div class="forum">
<div class="forum_cap">
	<ul>
		<li id="column0">&nbsp;</li>
		{% if is_admin %}<li id="column_admin">&nbsp</li>{% endif %}
		<li id="column1">Категории</li>
		<li id="column2">Статистика</li>
		<li id="column3">Последнее сообщение</li>
	</ul>
</div>
{% for cat in cats %}
	<div class="forum_cats">
		<ul>
			<li id="column0"><img src="/images/message.png" /></li>
			{% if is_admin %}
			<li id="column_admin">
				<a href="/forum/admin/category/edit/{{ cat.id }}"><img src="/images/edit.png" /></a>
			</li>
			{% endif %}
			<li id="column1"><div id="topic_name"></a><div id="topic_name_inner"><a href="/forum/category/?cat={{ cat.id }}">{{ cat.name }}</a>
			<label to="topic_name">{{ cat.descr }}</label>
				</div><div id="topic_name_magic"></div></div></li>
			<li id="column2">
			<div class="cat_stats cat_answers">
				<img src="/images/balloon_message.png" /> ответов: {{ cat.answers }}
			</div>
			<div class="cat_stats cat_topics">
				<img src="/images/balloon_message.png" /> тем: {{ cat.topics }}
			</div>
			</li>
			<li id="column3">
			{% if cat.last_message %}
			<div class="message_info">
				<div id="date">	
					<img src="/images/refresh.png" />
					{{ cat.last_message.date|date:"d.m.Y" }}
				</div>
				<div id="user">
					<img src="/images/people.png" />
					<a href="/users/{{ cat.last_message.user.login }}">{{ cat.last_message.user.login }}</a>
				</div>
				<div id="topic"> в теме: <a href="/forum/topic/{{ cat.last_message.topic.id }}">{{ cat.last_message.topic.name }}</a></div>
			</div>
			{% else %}<div class="no_message_info">Нет сообщений</div>{% endif %}</li>
		</ul>
	</div>
{% endfor %}
</div>
<div class="forum">
<font class="info">У нас уже {{ all_comments_count }} сообщений, а также {{ all_topics_count }} темы</font>
<!-- <font class="info">{% ifequal your_comments 0 %}Безобразие! А вы еще не оставили ни одного сообщения!{% else %}А вы оставили всего {{ your_comments }} сообщений, включая различные комментарии на ресурсе{% endifequal %}</font> -->
</div>