<script>
	(function($) {
		// Public Class
		
	
	})(jQuery);
	$(document).ready(function() {
		function selected(textarea) {
			return (textarea.selectionStart && textarea.selectionEnd) && textarea.selectionStart != textarea.selectionEnd;
		}
		function Selection(textarea) {
			this.textarea = textarea;
			this.value = this.textarea.value;
			this.start = this.textarea.selectionStart;
			this.end = this.textarea.selectionEnd;
			this.selected = ( ( this.start && this.end ) && ( this.start != this.end ) ) ? true : false;
			this.before_selection = this.value.substring(0, this.start);
			this.into_selection = this.value.substring(this.start, this.end);
			this.after_selection = this.value.substring(this.end, this.value.length);
			this.insert_text = function(text_start, text_end) {
				this.textarea.value = this.before_selection + text_start + this.into_selection + text_end + this.after_selection;
				this.textarea.selectionStart = this.textarea.selectionEnd = this.before_selection.length + text_start.length + this.into_selection.length + text_end.length;
				this.textarea.focus();
			}
			return this;
		}
		//function insert_text
		$("#add_href").click(function() {
			var selection = Selection(document.getElementById('descr'));
			var href = prompt("Введите адрес ссылки (начинается с http://)", "http://");
			selection.into_selection = prompt("Введите текст для ссылки", selection.selected ? selection.into_selection : "Ссылка");
			selection.insert_text("<a href=\"" + href + "\">", "</a>");
		});
		$("#add_img").click(function() {
			var selection = Selection(document.getElementById('descr'));
			var src = prompt("Введите адрес картинки (начинается с http://)", "http://");
			selection.insert_text("<img src=\"" + src + "\" alt=\"", "\" />");
			
		});
	});
</script>
<style>
	#topic_add {
		display: block;
		margin-left: 20px;
	}
	#topic_add label {
		padding-top: 5px;
		margin-bottom: 5px;
		display: block;
		clear: left;
	}
	#add_href, #add_img {
		float: left;
		margin-right: 20px;
	}
	#topic_add input[type=text] {
		margin-top: 5px;
		width: 340px;
	}
	#topic_add input[type=submit] {
		margin-top: 5px;
		display: block;
	}
</style>

<form id="topic_add" method="post">
    <label to="text">Название темы:</label><input type="text" name="name" value="{{ topic.name }}"/>
    <label>Вставить:</label>
    <input id="add_href" type="button" value="Ссылку" />
    <input id="add_img" type="button" value="Картинку" />
    <label to="descr">Текст:</label><textarea id="descr" name="descr" cols="40" rows="5">{{ topic.description }}</textarea>
    <input type="submit" value="Сохранить изменения" />

</form>
