{% include "tpl_conf_cap.html" %}

<br>
<form method="post">
	<table width="100%">
		<tr>
			<td>
				<b>О конференции:</b>			
			</td>
		</tr>
		<tr>
			<td>
				<textarea name="about" cols="50" rows="10">{{ about }}</textarea>			
			</td>
		</tr>
		<tr>
			<td>
				<b>Правила конференции:</b>			
			</td>
		</tr>
		<tr>
			<td>
				<textarea name="rules" cols="50" rows="10">{{ rules }}</textarea>			
			</td>
		</tr>
		<tr>
			<td>
				<input type="submit" value="Сохранить">
			</td>
		</tr>
	</table>
</form>