<script>
	$(document).ready(function() {
		$("#add_href").click(function() {
			var href = prompt("Введите адрес ссылки (начинается с http://)", "http://");
			var text = prompt("Введите текст для ссылки", "Ссылка");
			$("#descr").text($("#descr").text() + "<a href=\"" + href + "\">" + text + "</a>");//(text.startsWith("http://") ? text : ("http://" + text)));
		});
		$("#add_img").click(function() {
			var src = prompt("Введите адрес картинки (начинается с http://)", "http://");
			$("#descr").text($("#descr").text() + "<img src=\"" + src + "\"></img>"); 
		});
	});
</script>
<style>
	#topic_add {
		display: block;
		margin-left: 20px;
	}
	#topic_add label {
		padding-top: 5px;
		margin-bottom: 5px;
		display: block;
		clear: left;
	}
	#add_href, #add_img {
		float: left;
		margin-right: 20px;
	}
	#topic_add input[type=text] {
		margin-top: 5px;
		width: 340px;
	}
	#topic_add input[type=submit] {
		margin-top: 5px;
		display: block;
	}
</style>

<form id="topic_add" method="post">
    <label to="text">Название темы:</label><input type="text" name="name" />
    <label>Вставить:</label>
    <input id="add_href" type="button" value="Ссылку" />
    <input id="add_img" type="button" value="Картинку" />
    <label to="descr">Текст:</label><textarea id="descr" name="descr" cols="40" rows="5"></textarea>
    <input type="submit" value="Добавить тему" />

</form>
