<style>
	#message_list {
		border: 1px solid #000;
		display: block;
		font: normal 14px Tahoma,sans-serif;
		margin: 20px;
		
	}
	#message {
		display: block;
		height: 30px;
	}
	#message #check {
		float: left;
		width: 20px;
	}
		#message #check input[type=checkbox] {
			margin: 8px 6px;
		}
	#message #owner, #title {
		float: left;
		width: 33%;
	}
	#message #owner, #title, #datetime {
		padding: 5px;
	}
	.legend {
		background-color: #fd9446;
	}
	.first {
		background-color: #ffebdc;
	}
	.second {
		background-color: #daefff;
	}
	.bold {
		font-weight:bold;
	}
	#delete {
		margin-left: 25px;
		margin-top: -10px;
	}
</style>
<script>
	$(document).ready(function() {
		$("#delete").attr("disabled", "");
		$("#delete").click(function() {
			$(this).attr("disabled", "disabled");
			var formalized_keys = "";
			$("input[type=checkbox]:checked").each(function() {
				formalized_keys += $(this).attr('name') + ",";
			});
			$.post("/message/delete/", { 'messages' : formalized_keys }, function (data) {
				switch(data) {
					case "success":
						location.reload();
						break;
					case "fail":
						alert("Произошла ошибка при удалении!");
						location.reload();
						break;
					default:
						alert(data);
				}
			});
		});
	});
</script>
<h2>{% block caption %}{% endblock %}</h2>
<div id="message_list">
<div id="message" class="legend">
	<div id="check">&nbsp;</div>
	<div id="title" class="bold">Тема письма</div>
	<div id="owner" class="bold">{% block whois %}{% endblock %}</div>
	<div id="datetime" class="bold">Дата</div>
</div>
{% for message in messages %}
<div id="message" class="{% cycle first,second %} {% if not message.o_read %}bold{% endif %}">
	<div id="check"><input type="checkbox" name="{{ message.key }}" /></div>
	<div id="title"><a href="/message/read/{{ message.key }}">{% if message.title %}{{ message.title }}{% else %}Без темы{% endif %}</a></div>
	<div id="owner">{% block owner %}{% endblock %}</div>
	<div id="datetime">{{ message.datetime|date:"d.m.Y" }} в {{ message.datetime|date:"H:i" }}</div>
</div>
{% endfor %}
</div>
<input id="delete" type="button" value="Удалить" />
{% include "../block_pages.html" %}