<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <title>Сообщество архитекторов и дизайнеров{% if title %} :: {{ title }}{% else %}{% endif %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Сообщество архитекторов и дизайнеров, портал Архимир">
    <meta name="keywords" content="архитектура; дизайн интерьера; сообщество архитекторов">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"> 
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">
    <script type="text/javascript" src="/css/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/css/personal.js"></script>
    <script type="text/javascript" src="/css/jquery.ajaxupload-3.5.js"></script>
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/css/jquery.validate.js"></script>
    <script type="text/javascript">
		//var userflyHost = (("https:" == document.location.protocol) ? "https://secure.userfly.com" : "http://asset.userfly.com");
		//document.write(unescape("%3Cscript src='" + userflyHost + "/users/43638/userfly.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
</head>
<body style="background-color: #fefefe; margin: 0; padding: 0;">
    <table id="Table_01" border="0" cellpadding="0" cellspacing="0" style="height: 100%; width: 100%;">
        <tbody>
        <!-- TOP-LOGO -->
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" width="100%" border="0">
                        <tr>
                            <td height="138" width="418"><a href="/"><img border="0" alt="logo" src="/images/main_logo.png"></a></td>
                            <td width="100%" align="right" valign="middle">
                            {% if authorized %}
                            <div class="loginfo" style="float: right; margin-top: 5px;">

								<div style="width: 100%; float: left;">
									<div style="float: left;"><img src="/images/border_left_up.png" /></div>
								</div>
								
								<div style="padding-left: 20px; padding-right: 10px; font-size: 12px; font-family: Tahoma;">
									{{ loginfo }}
								</div>
								
								<div style="width: 100%; float: left;">
									<div style="float: left;"><img src="/images/border_left_down.png" /></div>
								</div>
								
							</div>
							{% else %}
							<div style="padding-right: 22px; padding-bottom: 5px;"><a href="/news/">Личный кабинет</a></div>
                            {% endif %}
	                        <div style="float: right; width: 100%;">
	                            <form id="search" action="/search/" method="post">
	                            <input onclick='$("#search").submit();' type="image" src="/images/search-button.gif" style="float: right; width: 26; height: 26; margin-left:4; margin-right:10; border: 0;" align="middle">
		                            <input id="spe42" type="text" size="20" name="find" onfocus="val = new String(this.value);  if (val.length < 15 && val.indexOf('поиск') > 0) this.value='';" style="width: 130px; height: 24px; background-color:#f5f5f5 ;margin:0; padding:2px 4px 2px 4px; border-style:solid; border-color:#4b4b7f; border-width:1px; vertical-align:middle; float: right;" value="&nbsp;поиск">
		                            
	                            </form>
	                        </div>
                            </td>
                            
                        </tr>
                    </table>
                </td>
            </tr>
        <!-- CENTER PART -->
            <tr>
                <td height="100%">
                    <table cellpadding="0" cellspacing="0" align="left" border="0" style="width: 100%; height: 100%;">
                        <tr>
                            <td valign="top">
                                {{ content }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" height="20">
                    <div style="padding-bottom: 2px; padding-top: 2px; align: center;"><a href="/forum/topic/add/138009"><font size="2">Я хочу сообщить об ошибке на сайте/предложить улучшение!</font></a></div>
                </td>
            </tr>
            <tr>
                <td align="center" height="20">
                    <div style="padding-bottom: 2px; padding-top: 2px; align: center;"><font size="2">Copyright 2009</font></div>
                </td>
            </tr>
        </tbody>
    </table>
    {%if request_time %}<div style="font-family: Verdana; font-size: 12px; position: fixed; bottom: 0px; left: 0px; background-color: #ffdacb; padding: 10px; opacity: 0.85;">{{ request_time }}</div>{% endif %}
<!-- Yandex.Metrika -->
<script src="//mc.yandex.ru/resource/watch.js" type="text/javascript"></script>
<script type="text/javascript">
try { var yaCounter140798 = new Ya.Metrika(140798); } catch(e){}
</script>
<noscript><div style="position: absolute;"><img src="//mc.yandex.ru/watch/140798" alt="" /></div></noscript>
<!-- /Yandex.Metrika -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9439324-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>