<div style="padding-left: 20px; padding-top: 8px; padding-right: 20px;">
<div style="padding: 5px;"><font style="font-size: 14px;">Зарегистрированных участников: {{ count }}{% if nonconfirmed %} | Неактивированных учетных записей: {{ nonconfirmed }}{% endif %}</font></div>
<div><hr></div>

{{ user }}

</div>
<br><br>&nbsp;&nbsp;&nbsp;<font color='red' size='2'>Администраторы</font> <font color='green' size='2'>Модераторы</font> <font color='#FF8C43' size='2'>Архитекторы</font> <font size='2'>Пользователи</font>