<div class="main">

		<div style="width: 100%; float: left;">
			<div style="float: left;"><img src="/images/border_left_up.png" /></div>
			<div style="float: right;"><img src="/images/border_right_up.png" /></div>
		</div>

		<div style="margin-left: 20px; margin-right: 20px; padding-top: 20px;">
			<div style="padding-left: 4px;padding-bottom: 4px;"><font style="font-size: 12px;">Пользователи, проявлявшие активность в последние 5 минут:</font></div>
			<div>
			<table style="width: 100%;" cellspacing="0" cellpadding="0" valign="middle">
                <tr style="background-color: #EDEDED; height: 30px;">
                    <td width="30px" valign="middle" >&nbsp;</td>
                    <td>Имя пользователя</td>
                </tr>
                {% for user in users_online %}
                <tr style="background-color: #EDEDED; height: 30px;">
                    <td style="border-width: 2px 0px 0px 0px; border-style: solid; border-color: #AAAAAA;" height="30px" align="center"><img style="width: 24px; height: 24px;" src="/show_avatara/{{ user.user_id }}" /></td>
                    <td style="border-width: 2px 0px 0px 0px; border-style: solid; border-color: #AAAAAA;"><a href="/users/{{ user.login }}">{{ user.login }}</a></td>
                </tr>
                {% endfor %}
			</table>
			</div>
			<div style="padding-left: 4px;padding-bottom: 4px;padding-top: 14px;"><font style="font-size: 12px;">Пользователи, проявлявшие активность в течении дня:</font></div>
			<div>
			<table style="width: 100%;" cellspacing="0" cellpadding="0" valign="middle">
                <tr style="background-color: #EDEDED; height: 30px;">
                    <td width="30px" valign="middle" >&nbsp;</td>
                    <td>Имя пользователя</td>
                </tr>
                {% for user in users_daily_online %}
                <tr style="background-color: #EDEDED; height: 30px;">
                    <td style="border-width: 2px 0px 0px 0px; border-style: solid; border-color: #AAAAAA;" height="30px" align="center"><img style="width: 24px; height: 24px;" src="/show_avatara/{{ user.user_id }}" /></td>
                    <td style="border-width: 2px 0px 0px 0px; border-style: solid; border-color: #AAAAAA;"><a href="/users/{{ user.login }}">{{ user.login }}</a></td>
                </tr>
                {% endfor %}
			</table>
			</div>
			
			<div style="padding-left: 4px;padding-bottom: 14px;padding-top: 14px;"><font style="font-size: 12px;">Статистика за последние 30 дней:</font></div>
			<div>
				<img src="http://chart.apis.google.com/chart?chxt=x,y&chxl=0:|{% for date in act_dates %}{% if not forloop.first %}{{ date|date:"d.m" }}{% endif %}|{% endfor %}1:|0|5|10|15|20&cht=lc&chd=t:{% for users_count in act_stats %}{{ users_count }}{% if not forloop.last %},{% endif %}{% endfor %}&chco=76A4FB&chls=2.0&chs=1000x185&chf=bg,s,DBDBDB&chg=3.45,25,1,4&chm=tMax,EE9452,0,{{ act_max }},10|tMin,FF387A,0,{{ act_min }},10" />
			</div>
		</div>
		
		<div style="width: 100%; float: left;">
			<div style="float: left;"><img src="/images/border_left_down.png" /></div>
			<div style="float: right;"><img src="/images/border_right_down.png" /></div>
		</div>
		
</div>